@model BdOfResume.Models.ListAndAvProj

@{
    ViewBag.Title = "ProjEmp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ProjEmp", "Consult", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="container">
    <h2>Управление вашими проектами</h2>
    @if (Model.avProj != null && Model.avProj.Count == 0)
    {
        <div style="color:red">Необходимо обратиться к администратору, чтобы он добавил проекты</div>
    }
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.list[0].Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.list[0].Role.Name)
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.list.Count - 1; ++i)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.list[i].Project.Name)
                    @Html.HiddenFor(m => Model.list[i].Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.list[i].Role.Name)
                    @Html.HiddenFor(m => Model.list[i].Role.Name)
                </td>
                <td>
                    <button type="submit" name="id" value="@Model.list[i].Id">Удалить</button>
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.DropDownListFor(m => Model.list[Model.list.Count - 1].Project.Name, new SelectList(Model.avProj))
            </td>
            <td>
                @Html.TextBoxFor(m => Model.list[Model.list.Count - 1].Role.Name)
                @Html.ValidationMessageFor(model => model.list[Model.list.Count - 1].Role.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                <button type="submit" id="create" name="create" value="true">Создать</button>
            </td>
        </tr>
    </table>
</div>
}