@model BdOfResume.Models.RegisterViewModel

@using (Html.BeginForm("AddResume", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container wrapper" style="margin-top:65px;">
        <input type="radio" name="tab" id="tab-1" />
        <label for="tab-1">Пригласить по e-mail</label>
        <input type="radio" name="tab" id="tab-2" />
        <label for="tab-2">Быстрая регистрация</label>
        <input type="radio" name="tab" id="tab-3" />
        <label for="tab-3">Зарегистрировать</label>
        <div class="content">
            <article class="tab-1">
                <table align="center" cellpadding="10" cellspacing="10" class="forTable">
                    <tr>
                        <td>Эл.почта</td>
                        <td>@Html.TextBoxFor(m => m.addres, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-success" value="Регистрация" style="float:right; font-size:18px" /></td>
                    </tr>
                </table>
            </article>
            <article class="tab-2">
                <tr>
                    <td>Ссылка на быструю регистрацию -> </td>
                    <td>http://localhost:55098/Account/Register</td>
                </tr>
            </article>
            <article class="tab-3">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="divTable">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <table align="center" cellpadding="2" cellspacing="2">
                            <tr>
                                <td>@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Otch, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.TextBoxFor(m => m.Otch, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Male, new { @class = "col-md-2 control-label" })</td>
                                <td style="font-size:18px; color:black; display:inline-block;">Мужчина @Html.RadioButtonFor(m => m.Male, true, new { id = "RadioButtn1" }) Женщина @Html.RadioButtonFor(m => m.Male, false, new { id = "RadioButtn2" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.AccType, new { @class = "col-md-2 control-label" })</td>
                                <td style="color:black">@Html.DropDownListFor(m => m.AccType, new SelectList(new string[] { "Администратор", "Консультант", "Сотрудник отдела продаж"}))</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.TextBoxFor(m => m.Login, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })</td>
                                <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn btn-success" value="Регистрация" style="float:right; font-size:18px" /></td>
                            </tr>
                        </table>
                    </div>
                }
            </article>
        </div>
    </div>
    <link href="~/Content/tabreg.css" rel="stylesheet" />
}